# Compiled source #
###################
*.class

# Application resources #
#########################
/system_data/
/backup/
/indicators/
/tmp/
/rule/*/global.xml
/rule/*/global.dat
/webapps/*/reports/templates/*.jasper

# Idea resources #
##################
.idea
cfg.xml
*.iml
/out/ 
/.svn/ 
# Logs #
########
*.log
/logs/
/bin/
/.settings/
/.classpath
/.project
#
node_modules/

