.btn {
    background: #fff linear-gradient(#fff, #f1f1f1);
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #243140;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    margin: 1px;
    outline: 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.196);
    vertical-align: top;
    white-space: nowrap;
}

.btn-xs {
    padding: 2px 4px;
}

.btn-sm {
    padding: 4px 6px;
}

.btn-lg {
    padding: 16px 18px;
}

.btn:hover {
    border-color: #aaa;
    color: currentColor;
    text-decoration: none;
}

.btn:focus {
    border-color: #aaa;
    outline: 0;
}

.btn:active {
    background: #f8f8f8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    outline: 0;
}

.btn:active:focus {
    outline: 0;
}

.tablet .btn,
.phone .btn {
    line-height: 18px;
}

.btn[disabled],
.btn.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}

.btn-primary {
    background: #ffed81 linear-gradient(#FFF7AE, #FFEF66);
    border: 1px solid #FFCE00;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #ffed81 linear-gradient(#fff7ae, #ffef66);
    border-color: #aaa;
    color: #333;
}

.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:active {
    background: #FFED4D;
    border-color: #aaa;
    box-shadow: inset 0px 2px 2px rgb(241, 216, 0);
    color: #333;
}

.btn-warning {
    background: #F44336;
    border: 1px solid #E00000;
    color: #FFF;
}

.btn-warning:hover {
    background: #FF5722;
    color: #FFF;
}

.btn-warning:active {
    background: #F44336;
    color: #FFF;
}

.btn-link {
    background: none;
    border: 1px solid transparent;
}

.btn-link:hover,
.btn-link:active {
    background: none;
    text-decoration: underline;
}

.btn-link.btn-warning,
.btn-link.btn-warning:hover {
    color: #FF5722;
}

.btn-link.btn-warning:active {
    color: #F00;
}

.btn i {
    color: #666666;
    vertical-align: baseline;
}

.btn i+span {
    margin-left: 3px;
}

.btn-group .btn {
    margin: 0;
}

.btn + .btn-group,
.btn-group + .btn {
    margin: 1px;
}
