.eds {
    background: #fff;
    border: 1px solid #888;
    box-shadow: 0 0 3px #888;
    -webkit-filter: blur(0);
    filter: blur(0);
    position: fixed;
    left: 50%;
    margin-left: -160px;
    top: -800px;
    /* -moz-transform: translate(0, -800px);
    -webkit-transform: translate(0, -800px);
    transform: translate(0, -800px);
    transform: translate3d(0, -800px, 0); */
    transition: top .25s;
    width: 320px;
    z-index: 99;
}

.eds.open {
    /* -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0); */
    top: 5%;
}

.eds-overlay {
    background: rgba(0, 0, 0, .3);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
}

.eds.open + .eds-overlay {
    display: block;
}

.eds header {
    background: #efefef;
    font-size: 1.3em;
    padding: 1rem;
    width: 100%;
}

.eds section {
    padding: 1rem;
    margin-bottom: 50px;
    width: 100%;
}

.eds footer {
    bottom: 0;
    font-size: 0;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 100%;
}

.eds footer button {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    width: 50%;
}

.eds section select,
.eds section input,
.eds section label,
.eds section button {
    margin: .4em 0 0;
}

.eds [name=keyType] {
    display: none;
}
