.form {
    margin: 0;
    padding: 0;
}

.fieldset {
    border: none;
    margin: 0;
    padding: 8px;
}

fieldset.fieldset[disabled] {
    cursor: default;
}

.fieldset > .fieldset {
    margin-top: 8px;
    padding-left: 0;
    padding-right: 0;
}

.fieldset > .legend {
    background: #eee;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 6px;
    width: 100%;
}

.form-group {
    border-bottom: 1px solid transparent;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 34px;
    padding: 4px 0;
}

.form-group:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.tablet .form-group,
.phone .form-group {
    border-bottom-color: #F2F2F4;
}

.form-group.has-controls-label {}

.form-group-last {
    border-bottom: none;
}

.form-group-divider {
    display: block;
    border: none;
    border-bottom: 1px dotted #D9D9D9;
    height: 1px;
    margin: 8px 0;
}

.form-group .control-label {
    color: #303333;
    display: block;
    float: left;
    font-size: 1em;
    margin: 0;
    max-width: 100%;
    min-height: inherit;
    overflow: hidden;
    padding: 6px 0px 0px;
    text-align: right;
    width: 230px;
}

.form-group .control-label:not(:empty):before {
    color: #999;
    content: ':';
    float: right;
    margin: 0 0 0 1px;
    overflow: hidden;
}

.form-group .control-label-icon {
    color: #666;
    display: block;
    float: left;
    margin: 0;
    margin-left: -4px;
    min-height: inherit;
    overflow: hidden;
    padding: 6px 2px 2px;
    text-align: center;
    width: 48px;
}

.form-group .control-label-icon i {
    color: #666;
    font-size: 18px;
}

.form-group.has-controls-label > .control-label-icon {
    padding-top: 30px;
}

.form-group .controls {
    color: #000;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: inherit;
    padding: 0px;
}

.form-group .control-label-icon + .controls {
    margin: 0 0 0 48px;
}

.form-group .control-label + .controls {
    margin: 0 0 0 240px;
}

.form-group .controls-label {
    background: none;
    display: block;
    font-weight: normal;
    height: 18px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

.form-group.vertical {
    border-bottom-color: transparent !important;
}

.form-group.vertical .control-label,
.form-group.vertical .controls {
    display: block;
}

@media ( max-width: 1024px) {
    .form-group .control-label {
        width: 170px;
    }
    .form-group .control-label + .controls {
        margin: 0 0 0 180px;
    }
}

@media ( max-width: 768px) {
    .form-group {
        border-bottom-color: #F2F2F4;
    }
    .form-group .control-label {
        text-align: left;
        width: 135px;
    }
    .form-group .control-label:before {
        display: none;
    }
    .form-group .control-label + .controls {
        margin-left: 140px;
    }
}

@media ( max-width: 540px) {
    .form-group .control-label {
        width: 90px;
    }
    .form-group .control-label + .controls {
        margin-left: 95px;
    }
}
