.attachments {
    margin-top: 10px;
    padding: 8px;
}

.attachments-file {
    margin-bottom: 2px;
}

.attachments-file .file-name {
    border: 1px solid transparent;
    display: inline-block;
    padding: 4px;
    position: relative;
}

.attachments-file.uploading .file-name {
    border: 1px solid #ccc;
}

.attachments-file.uploading .upload-progress {
    background: rgba(0, 162, 7, 0.3);
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 0;
}

.attachments-file.uploading.error .file-name {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: #F00;
}

.attachments-file .btn-remove-file {
    margin-left: 6px;
    opacity: .5;
}

.attachments-file:hover .btn-remove-file {
    opacity: 1;
}

.attachments-file.uploading .btn-remove-file {
    display: none;
}

.file-name[data-file]:before {
    background: transparent url(/SharedResources/nb/img/file-ext-sprite.png) no-repeat -22px -22px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 24px;
}

.file-name[data-file$='.png']:before,
.file-name[data-file$='.jpg']:before,
.file-name[data-file$='.jpeg']:before,
.file-name[data-file$='.tif']:before,
.file-name[data-file$='.bmp']:before {
    background-position: 0 0;
    height: 20px;
    padding-left: 22px;
}

.file-name[data-file$='.pdf']:before {
    background-position: 0 -44px;
    height: 16px;
    padding-left: 22px;
}

.file-name[data-file$='.doc']:before,
.file-name[data-file$='.docx']:before {
    background-position: 0 -24px;
    height: 16px;
    padding-left: 22px;
}

.file-name[data-file$='.xls']:before,
.file-name[data-file$='.xlsx']:before {
    background-position: 0 -84px;
    height: 16px;
    padding-left: 22px;
}
