.blink-anim {
    -webkit-animation: blinkAnim 1.3s;
    animation: blinkAnim 1.3s;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes blinkAnim {
    from {
        background: yellow;
    }
    to {
        background: white;
    }
}


/* Standard syntax */

@keyframes blinkAnim {
    from {
        background: yellow;
    }
    to {
        background: white;
    }
}
